<form #form="ngForm" novalidate (ngSubmit)="submitForm(form)">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom example example-compact gutter-b">
                <div class="card-header">
                    <div class="card-title">
                        <h3 class="card-label" *ngIf="isCreatePage">{{'Create Shop' | translate}}</h3>
                        <h3 class="card-label" *ngIf="isEditPage">{{'Edit Shop' | translate}}</h3>
                        <h3 class="card-label" *ngIf="isViewPage">{{'View Shop' | translate}}</h3>
                    </div>
                    <div class="card-toolbar">
                        <button *ngIf="isEditPage || isCreatePage" type="submit" class="btn btn-success mr-2" [translate]="'SHARED.SAVE_CHANGES'"></button>
                        <button *ngIf="isEditPage" type="button" (click)="cancelChanges()" class="mr-2 btn btn-secondary" [translate]="'SHARED.CANCEL'"></button>
                        <button type="button" (click)="backPage()" class="btn btn-light" [translate]="'SHARED.BACK'"></button>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div class="example-preview">
                            <div class="row">
                                <div class="col-md-6 mt-2">
                                    <div class="example-container">
                                        <label>{{'Name' | translate}}</label>
                                        <input type="text" name="name" [(ngModel)]="name" class="form-control" required
                                        [disabled]="isViewPage"
                                        [placeholder]="'Name' | translate"
                                        [ngClass]="{'errorBorder': !form.controls.name?.valid && isSubmitted,
                                        'successBorder': form.controls.name?.valid && isSubmitted}"
                                        />
                                        <span class="help-block" *ngIf="!form.controls.name?.valid && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <!-- <div class="example-container">
                                        <label>Name (AR)</label>
                                        <input type="text" name="nameAR" [(ngModel)]="nameAR" class="form-control" required
                                        placeholder="Name (AR)"
                                        [ngClass]="{'errorBorder': !form.controls.nameAR?.valid && isSubmitted,
                                        'successBorder': form.controls.nameAR?.valid && isSubmitted}"
                                        />
                                        <span class="help-block" *ngIf="!form.controls.nameAR?.valid && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                                    </div> -->
                                    <label>{{'Categories' | translate}}</label>
                                    <ng-multiselect-dropdown [placeholder]="'-- Select Categories --' | translate"
                                    [disabled]="isViewPage"
                                        [settings]="dropdownSettings" [data]="categoryList"
                                        [(ngModel)]="selectedItems" name="selectedItems">
                                    </ng-multiselect-dropdown>
                                    <span class="help-block" *ngIf="selectedItems.length == 0 && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <div class="example-container">
                                        <label>{{'Email' | translate}}</label>
                                        <input type="email" email name="email" [(ngModel)]="email" class="form-control" required
                                        [disabled]="isViewPage"
                                        [placeholder]="'Email' | translate"
                                        [ngClass]="{'errorBorder': !form.controls.email?.valid && isSubmitted,
                                        'successBorder': form.controls.email?.valid && isSubmitted}"
                                        />
                                        <span class="help-block" *ngIf="!form.controls.email?.valid && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <div class="example-container">
                                        <label>{{'Phone Number' | translate}}</label>
                                        <input type="text" name="phone_number" [(ngModel)]="phone_number" class="form-control" required
                                        [disabled]="isViewPage"
                                        [placeholder]="'Phone Number' | translate"
                                        (keypress)="numberOnly($event)"
                                        minlength="7"
                                        maxlength="20"
                                        [ngClass]="{'errorBorder': !form.controls.phone_number?.valid && isSubmitted,
                                        'successBorder': form.controls.phone_number?.valid && isSubmitted}"
                                        />
                                        <span class="help-block" *ngIf="!form.controls.phone_number?.valid && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <div class="example-container">
                                        <label>{{'Secondary Email' | translate}}</label>
                                        <input type="email" email name="secondary_email" [(ngModel)]="secondary_email" class="form-control"
                                        [disabled]="isViewPage"
                                        [placeholder]="'Secondary Email' | translate"
                                        />
                                        <!-- <span class="help-block" *ngIf="!form.controls.email?.valid && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span> -->
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <div class="example-container">
                                        <label>{{'Secondary Phone Number' | translate}}</label>
                                        <input type="text" name="secondary_phone_number" [(ngModel)]="secondary_phone_number" class="form-control"
                                        [disabled]="isViewPage"
                                        [placeholder]="'Secondary Phone Number' | translate"
                                        />
                                        <!-- <span class="help-block" *ngIf="!form.controls.phone_number?.valid && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span> -->
                                    </div>
                                </div>                                
                                <div class="col-md-6 mt-2">
                                    <div class="example-container">
                                        <label>{{'Subscription' | translate}}</label>
                                        <select name="Subscription_id" [(ngModel)]="Subscription_id" required class="form-control"
                                        [disabled]="isViewPage"
                                        [ngClass]="{'errorBorder': (!form.controls.Subscription_id?.valid || form.controls.Subscription_id?.value == '0') && isSubmitted,
                                        'successBorder': form.controls.Subscription_id?.valid && isSubmitted && form.controls.Subscription_id?.value != '0'}"
                                        >
                                            <option value="0" [translate]="'SHARED.CHOOSE_ONE'"></option>
                                            <option *ngFor="let item of SubscriptionList" [value]="item.id">{{item.value}}</option>
                                        </select>
                                        <span class="help-block" *ngIf="(!form.controls.Subscription_id?.valid || form.controls.Subscription_id?.value == '0') && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <div class="example-container">
                                        <label class="d-block invisible">[INVISABLE]</label>
                                        <label class="checkbox-container special-check mt-3">
                                            <label class="special-float">{{'is sponsored' | translate}}</label>
                                            <input type="checkbox" name="is_sponsored" [(ngModel)]="is_sponsored" [disabled]="isViewPage" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-5 mb-5">
                                    <div class="example-container">
                                        <label>{{'Location' | translate}}</label>
                                        <app-map [latitude]="latitude" [longitude]="longitude" [readOnly]="isViewPage" [showDetails]="false" [draggable]="true" (changeLocationEmiter)="changeLocationEmiter($event)"></app-map>
                                    </div>
                                </div>

                                <div class="col-md-4 mt-5">
                                    <div class="example-container">
                                        <label class="d-block">{{'Image' | translate}}</label>
                                        <app-uploader
                                        [image_url]="image_url"
                                        [isDisabled]="!isViewPage"
                                        [isRequired]="isCreatePage"
                                        [isSubmitted]="isSubmitted"
                                        accept="image/*"
                                        [isTextAppear]="true"
                                        (selectFileEmiter)="selectFileEmiter($event)"
                                        ></app-uploader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>