<div class="custom-bg-grey pt-5 account-information">
    <div class="container">
        <div class="row">
            <div class="col-12 payment-container" style="margin: 0 auto;">
                Inspect me..
                <br>
                https://parvice-web.designinjo.com/api/admin/shop/payment?shop_id=20
                <!-- frameborder="0" -->
                <!-- <iframe class="w-100" 
                style="height: 500px;"
                src="https://parvice-web.designinjo.com/api/admin/shop/payment?shop_id=20&type=1"
                ></iframe>

                <iframe id="iframe" class="w-100" 
                [style.height]="height"
                (load)="load($event)"
                ></iframe> -->
                    <div [innerHtml]="data_url">

                    </div>
            </div>
        </div>
    </div>
</div>