<div class="row mb-5">
    <div class="col-xl-12">
        <div class="card card-custom example example-compact gutter-b mb-0">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label" [translate]="'MENU.CATEGORIES'"></h3>
                </div>
                <div class="card-toolbar">
                    <div class="example-tools justify-content-center">
                        <!-- [class.disabled]="totalResult >= 6" -->
                        <a routerLink="/category-create" class="example-copy toolbar-button btn btn-warning ml-2 mr-2">
                            <i class="flaticon2-plus-1"></i>
                            <span [translate]="'SHARED.CREATE'"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <!-- <div class="row" *ngIf="!isDeletedPage">
                        <div class="col-md-1 mb-3">
                            <label class="invisible">[INVISIBLE]</label>
                            <span class="filterBy text-muted" [translate]="'SHARED.FILTER_BY'"></span>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label [translate]="'SHARED.SEARCH'"></label>
                                <input type="text" name="search" [(ngModel)]="search" class="form-control" [placeholder]="'SHARED.SEARCH' | translate"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="invisible">[INVISIBLE]</label>
                            <button class="btn btn-success btn-block" (click)="currentPage=1; getData()" [translate]="'SHARED.SUBMIT'"></button>
                        </div>
                    </div> -->
                    <div class="example-preview p-0" style="    border: unset !important;">
                        <div class="example-container">


                            <div class="drag-wrapper" *ngFor="let iteration of data; let index = index"
                                [draggable]="true" [class.dragging]="index === this.draggingIndex"
                                (dragstart)="onDragStart(index)" (dragenter)="onDragEnter(index)"
                                (dragend)="onDragEnd()">
                                <div class="card card-custom2">
                                    <div style="    display: flex;
                                    justify-content: space-between;">
                                        <div>
                                            {{ iteration.title_en }} | {{ iteration.title_ar }}
                                        </div>

                                        <div>
                                            <a class="action-box-edit" routerLink="/category-edit/{{iteration.id}}"
                                                [ngbTooltip]="'SHARED.EDIT' | translate"><i class="fa fa-edit"></i></a>

                                            <a (click)="deleteCategory(iteration.id)" class="action-box-delete"
                                                href="javascript:void(0);" [ngbTooltip]="'SHARED.DELETE' | translate"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <!-- <div class="col-md-1 col-md-offset-1" [dragula]='"bag-one"' [dragulaModel]='items'>
                                <div class="" *ngFor="let item of items" [attr.class]="'peg '+item.color">{{item.color}}
                                </div>
                            </div> -->



                            <!-- <div class="table-responsive">
                                <table
                                    class="table table-bordered table-striped table-hover m-0 text-center table-cut-text table-with-image">
                                    <thead>
                                        <tr>
                                            <th>{{'Title (en)' | translate}}</th>
                                            <th>{{'Title (ar)' | translate}}</th>
                                            <th class="w-20" [translate]="'SHARED.ACTION'"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let iteration of response" draggable="true">
                                            <td>
                                                <span [ngbTooltip]="iteration.title_en" class="capitalize td-cut-text"
                                                    [innerHtml]="iteration.title_en"></span>
                                            </td>
                                            <td>
                                                <span [ngbTooltip]="iteration.title_ar" class="capitalize td-cut-text"
                                                    [innerHtml]="iteration.title_ar"></span>
                                            </td>
                                            <td>

                                                <a class="action-box-edit" routerLink="/category-edit/{{iteration.id}}"
                                                    [ngbTooltip]="'SHARED.EDIT' | translate"><i
                                                        class="fa fa-edit"></i></a>

                                                <a (click)="deleteCategory(iteration.id)" class="action-box-delete"
                                                    href="javascript:void(0);"
                                                    [ngbTooltip]="'SHARED.DELETE' | translate"><i
                                                        class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                            <app-table-empty *ngIf="response.length == 0"></app-table-empty>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row mb-5">
    <div class="col-xl-12">
        <app-pagination-bar *ngIf="totalResult" class="d-block mx-auto my-2" [pages]="pages" [currentPage]="currentPage"
            (selectPage)="selectPage($event)">
        </app-pagination-bar>
    </div>
</div> -->