<form #form="ngForm" novalidate (ngSubmit)="submitForm(form)">
    <div class="card card-custom card-stretch">
        <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
            <!--  -->
            <h3 class="card-label font-weight-bolder text-dark" *ngIf="isCreatePage">{{'Create Commission' | translate}}</h3>
            <h3 class="card-label font-weight-bolder text-dark" *ngIf="isEditPage">{{'Update Commission' | translate}}</h3>
            <h3 class="card-label font-weight-bolder text-dark" *ngIf="isViewPage">{{'View Commission' | translate}}</h3>
            <!--  -->
            <!-- <span class="text-muted font-weight-bold font-size-sm mt-1" [translate]="'SHARED.PERSONAL_INFORMATION'"></span> -->
        </div>
        <div class="card-toolbar">
            <button type="submit" class="btn btn-success mr-2" [translate]="'SHARED.SAVE_CHANGES'"></button>
            <button type="button" *ngIf="isEditPage" (click)="cancelChanges()" class="mr-2 btn btn-secondary" [translate]="'SHARED.CANCEL'"></button>
            <button type="button" (click)="backPage()" class="btn btn-light" [translate]="'SHARED.BACK'"></button>
        </div>
        </div>
        <div class="form">
        <div class="card-body">
            <div class="form-group row">
                <label class="col-3 col-xl-3 col-lg-3 col-form-label">{{'Commissions' | translate}}</label>
                <div class="col-7 col-lg-7 col-xl-6">
                    <div class="example-container">
                        <input type="number" name="commissions" [(ngModel)]="commissions" class="form-control" required
                        [placeholder]="'Commissions' | translate"
                        [ngClass]="{'errorBorder': (!form.controls.commissions?.valid || !checkValue(commissions)) && isSubmitted,
                        'successBorder': form.controls.commissions?.valid && isSubmitted}"
                        />
                        <span class="help-block" *ngIf="!form.controls.commissions?.valid && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                        <span class="help-block" *ngIf="!checkValue(commissions) && isSubmitted" >** {{'Value must be positive' | translate}}</span>
                    </div>
                </div>
                <div class="col-2 col-lg-2 col-xl-2" class="persantage">%</div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label">{{'Category' | translate}}</label>
                <div class="col-lg-9 col-xl-6">
                    <div class="input-group input-group-lg input-group-solid"
                    [ngClass]="{'errorBorder': (!form.controls.category?.valid || form.controls.category?.value == '0') && isSubmitted,
                    'successBorder': form.controls.category?.valid && isSubmitted && form.controls.category?.value != '0'}"
                    >
                        <select name="category" [(ngModel)]="category" required class="form-control form-control-lg form-control-solid">
                            <option value="0" [translate]="'SHARED.CHOOSE_ONE'"></option>
                            <option *ngFor="let item of categoryList" [value]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                    <span class="help-block" *ngIf="(!form.controls.category?.valid || form.controls.category?.value == '0') && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                </div>
            </div>
        </div>
        </div>
    </div>
</form>