<div class="row" *ngIf="!isDeletedPage">
    <div class="col-xl-12">
        <div class="card card-custom example example-compact gutter-b">
            <div class="card-header">
              <div class="card-title">
                  <h3 class="card-label" [translate]="'SHARED.ADVANCE_SEARCH'"></h3>
              </div>
              <div class="card-toolbar">
                  <div class="example-tools justify-content-center">
                      <a [permission]="'dealership-centre-create'" *ngIf="!isDeletedPage" routerLink="/dealership-centre-create" class="example-copy toolbar-button btn btn-warning ml-2 mr-2">
                          <i class="flaticon2-plus-1"></i>
                          <span [translate]="'SHARED.CREATE'"></span>
                      </a>
                      <span type="button" [ngbTooltip]="'SHARED.TOGGLE' | translate" (click)="isToggle = !isToggle" class="example-copy toolbar-button btn btn-default font-weight-500" [innerHtml]="isToggle ? '-' : '+'"></span>
                  </div>
              </div>
          </div>
          <div class="card-body" *ngIf="isToggle">
            <form #form="ngForm" novalidate (ngSubmit)="submitForm(form)">
                <div class="row">
                    <div class="col-md-6">
                        <span class="filterBy text-muted p-0" [translate]="'SHARED.FILTER_BY'"></span>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-success" (click)="currentPage=1; getData()" [translate]="'SHARED.SUBMIT'"></button>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{'Search' | translate}}</label>
                            <input type="text" name="search" [(ngModel)]="search" class="form-control" [placeholder]="'Search' | translate" />
                        </div>
                    </div>
                </div>
              </form>
        </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-xl-12">
        <div class="card card-custom example example-compact gutter-b mb-0">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label" [translate]="isDeletedPage ? 'Deleted Dealership Centre' : 'Dealership Centre'"></h3>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="example-preview p-0">
                        <div class="example-container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover m-0 text-center table-cut-text">
                                    <thead>
                                        <tr>
                                            <th>{{'Name' | translate}}</th>
                                            <th>{{'Rate' | translate}}</th>
                                            <th>{{'Description' | translate}}</th>
                                            <th>{{'Subscription' | translate}}</th>                                            
                                            <th>{{'Brand' | translate}}</th>                                            
                                            <th class="w-20" [translate]="'SHARED.ACTION'"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let iteration of response">
                                            <td><span [ngbTooltip]="iteration.name" class="capitalize td-cut-text" [innerHtml]="iteration.name"></span></td>
                                            <td><span [ngbTooltip]="iteration.rate" class="capitalize td-cut-text" [innerHtml]="iteration.rate"></span></td>
                                            <td><span [ngbTooltip]="iteration.description_full" class="capitalize td-cut-text" [innerHtml]="iteration.description"></span></td>
                                            <td>
                                                <span class="capitalize td-cut-text">{{iteration.subscription}} {{'Month' | translate}}</span>
                                            </td>                                            
                                            <td><span [ngbTooltip]="iteration.brand" class="capitalize td-cut-text" [innerHtml]="iteration.brand"></span></td>                                           <td>
                                                <a [permission]="'dealership-centre-edit'" *ngIf="!isDeletedPage" class="action-box-edit" routerLink="/dealership-centre-edit/{{iteration.id}}" [ngbTooltip]="'SHARED.EDIT' | translate"><i class="fa fa-edit"></i></a>
                                                <a [permission]="'dealership-centre-delete'" *ngIf="!isDeletedPage" (click)="deleteItem(iteration.id)" class="action-box-delete" href="javascript:void(0);" [ngbTooltip]="'SHARED.DELETE' | translate"><i class="fa fa-trash"></i></a>
                                                <a *ngIf="isDeletedPage" class="action-box-delete" href="javascript:void(0);" (click)="unDelete(iteration.id)" [ngbTooltip]="'Restore' | translate"><i class="fa fa-undo"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <app-table-empty *ngIf="!totalResult"></app-table-empty>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-xl-12">
        <app-pagination-bar *ngIf="totalResult" class="d-block mx-auto my-2" [pages]="pages" [currentPage]="currentPage"
        (selectPage)="selectPage($event)">
        </app-pagination-bar>
    </div>
</div>