.w-20{
    width: 175px;
}
.filterBy{
    display: inline-block;
    padding-top: 9px;
}
.approve i{
    vertical-align: middle;
    color: #2dcc70;
}
.decline i{
    vertical-align: middle;
    color: #ff6f7e;
}