<div class="row mb-5">
    <div class="col-xl-12">
        <div class="card card-custom example example-compact gutter-b mb-0">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label" [translate]="isDeletedPage ? 'Deleted Reviews' : 'Reviews'"></h3>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="example-preview p-0">
                        <div class="example-container">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover m-0 text-center table-cut-text">
                                    <thead>
                                        <tr>
                                            <!-- <th>User ID#</th> -->
                                            <th>{{'User Name' | translate}}</th>
                                            <th>{{'Rating' | translate}}</th>
                                            <th>{{'Review' | translate}}</th>
                                            <th>{{'Review for' | translate}}</th>
                                            <th>{{'Review for detail' | translate}}</th>
                                            <th class="w-20" [translate]="'SHARED.ACTION'"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let iteration of response">
                                            <!-- <td><span [ngbTooltip]="iteration.user_id" class="capitalize td-cut-text" [innerHtml]="iteration.user_id"></span></td> -->
                                            <td><span [ngbTooltip]="iteration.name" class="capitalize td-cut-text" [innerHtml]="iteration.name"></span></td>
                                            <td><span [ngbTooltip]="iteration.rating" class="capitalize td-cut-text" [innerHtml]="iteration.rating"></span></td>
                                            <td><span [ngbTooltip]="iteration.review" class="capitalize td-cut-text" [innerHtml]="iteration.review"></span></td>
                                            <td><span [ngbTooltip]="iteration.review_for" class="capitalize td-cut-text" [innerHtml]="iteration.review_for"></span></td>
                                            <td><span [ngbTooltip]="iteration.review_for_detail" class="capitalize td-cut-text" [innerHtml]="iteration.review_for_detail"></span></td>
                                            <td>
                                                <!-- <a *ngIf="!isDeletedPage" class="action-box-edit" routerLink="/dealership-centre-edit/{{iteration.id}}" [ngbTooltip]="'SHARED.EDIT' | translate"><i class="fa fa-edit"></i></a> -->
                                                <a *ngIf="!isDeletedPage" class="action-box-delete" href="javascript:void(0);" [ngbTooltip]="'Show Images' | translate" routerLink="/review-images/{{iteration.id}}"><i class="fas fa-images"></i></a>
                                                <a [permission]="'reviews-delete'" *ngIf="!isDeletedPage" (click)="deleteItem(iteration.id)" class="action-box-delete" href="javascript:void(0);" [ngbTooltip]="'SHARED.DELETE' | translate"><i class="fa fa-trash"></i></a>
                                                <a *ngIf="isDeletedPage" class="action-box-delete" href="javascript:void(0);" (click)="unDelete(iteration.id)" [ngbTooltip]="'Restore' | translate"><i class="fa fa-undo"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <app-table-empty *ngIf="!totalResult"></app-table-empty>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col-xl-12">
        <app-pagination-bar *ngIf="totalResult" class="d-block mx-auto my-2" [pages]="pages" [currentPage]="currentPage"
        (selectPage)="selectPage($event)">
        </app-pagination-bar>
    </div>
</div>