:host {
  width: 100%;
  @media (min-width: 992px) {
    .login-form {
      width: 100%;
      max-width: 450px;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}
.btn-custom{
  background: #ff152cb0 !important;
  border-color: #ff152cb0 !important;
  &:hover{
    background: #ff152cb0 !important;
    border-color: #ff152cb0 !important;
    opacity: 0.8;
  }
}