<form #form="ngForm" novalidate (ngSubmit)="submitForm(form)">
    <div class="card card-custom card-stretch">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">{{'Advertisement Plan' | translate}}</h3>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2" [translate]="'SHARED.SAVE_CHANGES'"></button>
                <button type="button" (click)="cancelChanges()" class="mr-2 btn btn-secondary"
                    [translate]="'SHARED.CANCEL'"></button>
            </div>
        </div>
        <div class="form">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Location of the Advertisement' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="input-group input-group-lg input-group-solid"
                        [ngClass]="{'errorBorder': (!form.controls.location?.valid || form.controls.location?.value == '0') && isSubmitted,
                        'successBorder': form.controls.location?.valid && isSubmitted && form.controls.location?.value != '0'}"
                        >
                            <select name="location" [(ngModel)]="location" required class="form-control form-control-lg form-control-solid">
                                <option value="0" [translate]="'SHARED.CHOOSE_ONE'"></option>
                                <option *ngFor="let item of locationList" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <span class="help-block" *ngIf="(!form.controls.location?.valid || form.controls.location?.value == '0') && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                    </div>
                </div>
                <h6>Home page</h6>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Image' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="example-container">
                            <app-uploader
                            [image_url]="image_url"
                            [isDisabled]="true"
                            [isRequired]="true" 
                            [isSubmitted]="isSubmitted"
                            accept="image/*"
                            [isTextAppear]="true"
                            (selectFileEmiter)="selectFileEmiter($event)"
                            ></app-uploader>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'URL' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="example-container">
                            <input type="text" name="url" [(ngModel)]="url" class="form-control" required [ngClass]="{'errorBorder': !form.controls.url?.valid && isSubmitted,
                        'successBorder': form.controls.url?.valid && isSubmitted}" />
                            <span class="help-block" *ngIf="!form.controls.url?.valid && isSubmitted"
                                [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Desired advertisement plan' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="input-group input-group-lg input-group-solid"
                        [ngClass]="{'errorBorder': (!form.controls.desiredAdvertisementPlan?.valid || form.controls.desiredAdvertisementPlan?.value == '0') && isSubmitted,
                        'successBorder': form.controls.desiredAdvertisementPlan?.valid && isSubmitted && form.controls.desiredAdvertisementPlan?.value != '0'}"
                        >
                            <select name="desiredAdvertisementPlan" [(ngModel)]="desiredAdvertisementPlan" required class="form-control form-control-lg form-control-solid">
                                <option value="0" [translate]="'SHARED.CHOOSE_ONE'"></option>
                                <option *ngFor="let item of desiredAdvertisementPlanList" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <span class="help-block" *ngIf="(!form.controls.desiredAdvertisementPlan?.valid || form.controls.desiredAdvertisementPlan?.value == '0') && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                    </div>
                </div>
                <h6 class="mt-5">{{'Search screen' | translate}}</h6>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Desired plan' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="input-group input-group-lg input-group-solid"
                        [ngClass]="{'errorBorder': (!form.controls.desiredPlan?.valid || form.controls.desiredPlan?.value == '0') && isSubmitted,
                        'successBorder': form.controls.desiredPlan?.valid && isSubmitted && form.controls.desiredPlan?.value != '0'}"
                        >
                            <select name="desiredPlan" [(ngModel)]="desiredPlan" required class="form-control form-control-lg form-control-solid">
                                <option value="0" [translate]="'SHARED.CHOOSE_ONE'"></option>
                                <option *ngFor="let item of desiredPlanList" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <span class="help-block" *ngIf="(!form.controls.desiredPlan?.valid || form.controls.desiredPlan?.value == '0') && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                    </div>
                </div>
                <h6 class="mt-5">{{'Sponsored car parts' | translate}}</h6>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Desired plan' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="input-group input-group-lg input-group-solid"
                        [ngClass]="{'errorBorder': (!form.controls.desiredPlanSponsored?.valid || form.controls.desiredPlanSponsored?.value == '0') && isSubmitted,
                        'successBorder': form.controls.desiredPlanSponsored?.valid && isSubmitted && form.controls.desiredPlanSponsored?.value != '0'}"
                        >
                            <select name="desiredPlanSponsored" [(ngModel)]="desiredPlanSponsored" required class="form-control form-control-lg form-control-solid">
                                <option value="0" [translate]="'SHARED.CHOOSE_ONE'"></option>
                                <option *ngFor="let item of desiredPlanSponsoredList" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <span class="help-block" *ngIf="(!form.controls.desiredPlanSponsored?.valid || form.controls.desiredPlanSponsored?.value == '0') && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Desired car part' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="input-group input-group-lg input-group-solid"
                        [ngClass]="{'errorBorder': (!form.controls.desiredCarPart?.valid || form.controls.desiredCarPart?.value == '0') && isSubmitted,
                        'successBorder': form.controls.desiredCarPart?.valid && isSubmitted && form.controls.desiredCarPart?.value != '0'}"
                        >
                            <select name="desiredCarPart" [(ngModel)]="desiredCarPart" required class="form-control form-control-lg form-control-solid">
                                <option value="0" [translate]="'SHARED.CHOOSE_ONE'"></option>
                                <option *ngFor="let item of desiredCarPartList" [value]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <span class="help-block" *ngIf="(!form.controls.desiredCarPart?.valid || form.controls.desiredCarPart?.value == '0') && isSubmitted" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>