img{
    width: 80px;
    height: 50px;

}
.fa-star{
    color: #FFA500 !important;
}
.decline i{
    vertical-align: middle;
    color: #ff6f7e;
}
@media (max-width: 575.98px){
    table{
        width: 650px;
    }
}