<form #form="ngForm" novalidate (ngSubmit)="submitForm(form)">
    <div class="card card-custom card-stretch">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">{{'Subscription Payment' | translate}}</h3>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2" [translate]="'SHARED.SAVE_CHANGES'"></button>
                <button type="button" (click)="cancelChanges()" class="mr-2 btn btn-secondary"
                    [translate]="'SHARED.CANCEL'"></button>
            </div>
        </div>
        <div class="form">
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Duration (Number of month)' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="example-container">
                            <input type="number" name="duration" [(ngModel)]="duration" class="form-control" required
                                [ngClass]="{'errorBorder': !form.controls.duration?.valid && isSubmitted,
                        'successBorder': form.controls.duration?.valid && isSubmitted}" />
                            <span class="help-block" *ngIf="!form.controls.duration?.valid && isSubmitted"
                                [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-3 col-lg-3 col-form-label">{{'Price' | translate}}</label>
                    <div class="col-lg-9 col-xl-6">
                        <div class="example-container">
                            <input type="text" name="price" [(ngModel)]="price" class="form-control" required [ngClass]="{'errorBorder': !form.controls.price?.valid && isSubmitted,
                        'successBorder': form.controls.price?.valid && isSubmitted}" />
                            <span class="help-block" *ngIf="!form.controls.price?.valid && isSubmitted"
                                [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>