<div class="form-group row">
    <label class="col-3 col-xl-3 col-lg-3 col-form-label">{{'Days' | translate}}<sup class="required"> *</sup></label>
    <div class="col-7 col-lg-7 col-xl-6">
        <div class="example-container">
            <div class="row">
                <div class="col-md-6 pb-4" *ngFor="let day of daysBitwise">
                    <div class="example-container">
                        <label class="checkbox-container">
                            <label class="special-float">{{day.dayText}}</label>
                            <input type="checkbox" name="bitwise-{{day.dayNum}}" [value]="day.isChecked" [checked]="day.isChecked" (change)="checkBoxChangeEvent(day)" [disabled]="isViewPage" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <span class="col-md-12 help-block" *ngIf="totalBitWise == 0" [translate]="'SHARED.THIS_FIELD_IS_REQUIRED'"></span>
            </div>
        </div>
    </div>
    <div class="col-2 col-lg-2 col-xl-2"></div>
</div>